{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block breadcrumbs %}
    {% include 'default/_breadcrumbs.html.twig' with {
        'items': [
            {'name': 'Placeholder Categories', 'url': path('app_category_index')},
            {'name': 'New', 'url': '#'},
        ]
    } %}
{% endblock %}

{% block content %}
    {% include 'components/_subheading.html.twig' with {'title': 'Create Category'} %}

    <div class="max-w-xl mb-8">
        {{ include('category/_form.html.twig') }}
    </div>

    {% include 'components/_back_button.html.twig' with {'path': path('app_category_index')} %}
{% endblock %}
