<div class="border-b border-gray-200 pb-4 mb-6 sm:flex sm:items-center sm:justify-between">
    <h1 class="text-2xl font-semibold leading-6 text-gray-900">
        {{ title }}
    </h1>
    <div class="inline-flex items-center rounded-md text-white px-3 py-2 text-sm invisible">&nbsp;</div>
</div>
